/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

h2 {
    font-family: $fontCandara;
  }

h3 {
    font-family: $fontTahoma;
}

h4 {
    font-family: $fontTahoma;
}

p {
    font-family: $fontTahoma;
}

.nav-footer {
    background-color: #181717;
}

h2.headerTitleWithLogo {
    visibility: hidden;
}