.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.2rem;
    height: 46px;
    width: 190px;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 #5aa6c0;
    background-color: #0a789e;
    margin-bottom: 16px;
    margin-top: 16px;
}

.buttons_tab {
    display: flex;
    padding-top: 0.75rem;
    justify-content: center;
    height: 3rem;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    background-color: #fffefd;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.buttons_tab:hover {
    background-color: var(--turquoise);
    color: var(--amphora-white);
}

.tab_active {
    box-shadow: 0 2px 0 0 #5aa6c0;
}

.tabs_row {
    border-bottom: 1px solid var(--pearl);
}
