.landing {
    min-height: 55vh;
}

.landing .banner {
    padding-left: 1rem;
    padding-top: 5%;
}
.landing .actions {
    margin-left: 5rem;
    padding-left: 1rem;
    padding-top: 5%;
}
.landing .actions .buttons {
    min-width: 8rem;
}
