.col-video {
    margin-top: 2rem;
}

.valueProps .buttons{
    margin-top: 4rem;
    text-align: left;
}
.valueProps .heading{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.valueProps .prop{
    margin-top: 1rem;
    margin-bottom: 1rem;
}